@import "./variables.less";

.contact-page {
    .bg {
        background-image: url(https://gcd-official-preview.netlify.app/images/contactbg.png);

        .container-outer {
            width: 100%;
            margin: 0;

            .col {
                padding: 0;
            }

            .container {
                z-index: 2;
                position: relative;
                @media (max-width: @md) {
                    padding: 72px 60px;
                    margin: 0;
                    border-radius: 18px;
                }
                @media (min-width: @md) {
                    padding: 60px 120px;
                    margin: 20vh 0;
                    border-radius: 18px;
                }
                top: 0;
                width: 100%;
                background-color: white;

                img {
                    position: relative;
                    width: 100%;
                    background-color: TRANSPARENT;
                    @media (max-width: @md) {
                        margin-bottom: 36px;
                    }
                }

                .companyname {
                    font-size: 24px;
                    margin-bottom: 24px;
                }

                .right {
                    .info-row {
                        margin-top: 36px;
                        img {
                            width: 36px;
                            object-fit: contain;
                        }
                    }
                }

                .central {
                    display: flex;
                    align-content: center;
                }

                .map {
                    object-fit: contain;
                }
            }
        }
    }
}
