.landing-page {
    .row1 {
        height: 100vh;

        .col1 {
            display: flex;
            align-items: center;
            justify-content: center;
            .buttons {
                color: #6d6d6f;
                p {
                    cursor: pointer;
                    border-bottom: solid transparent 4px;
                    font-size: 40px;
                    transition: border-bottom 0.3s;
                }

                p:hover {
                    border-bottom: solid #6d6d6f 4px;
                }
            }
        }

        .col2 {
            background-image: url("/images/landingbg.png");
        }
    }
}
